* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #333;
    color: #FBE6C2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #282828;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.password-output {
    margin-bottom: 10px;
}

#password {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #FBE6C2;
    text-align: center;
    font-size: 18px;
}

.options {
    margin-bottom: 10px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.options input{
    text-align: center;
    color: wheat;
    text-decoration: none;
    border: none;
    background-color: rgb(57, 57, 57);
}

.options input:focus{
    outline-color: wheat;
    outline-style: solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #FBE6C2;
    cursor: pointer;
    transition: 0.5s ease;
}
button:hover{
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #9d4d13;
}

@media (max-width: 400px) {
    .buttons {
        flex-direction: column;
    }
}
